<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bookslot.css">
    <title>Book Slot</title>
</head>
<body>
    <div class="container">
        <form>
            <h1> BOOK SLOT </h1>
            <div class="largespace">  </div>

            <label>Enter Location: </label><br>
            <input type="text" placeholder="Your location" required id="location_name" name="lname"><br>
            <div class="smallspace">  </div> 

            <label>Enter Name: </label><br>
            <input type="text" placeholder="Your name" required id="name" name="name"><br>
            <div class="smallspace">  </div> 

            <label>Enter Phone Number: </label><br>
            <input type="text" placeholder="Your phone number" required id="phone_number" name="phname"><br>
            <div class="smallspace">  </div> 

            <label>Enter E-mail: </label><br>
            <input type="text" placeholder="Your email" required id="email" name="email"><br>
            <div class="smallspace">  </div>

            <label>Enter Vehicle Registration Number: </label><br>
            <input type="text" placeholder="Registration number" required id="vr_no" name="vr_no"><br>
            <div class="smallspace">  </div> 

            <label>Preferred Parking Slot Number**(1-20)**depend on availability </label><br>
            <input type="number" placeholder="Your slot" required id="slot" name="slot"><br>
            <div class="smallspace">  </div> 
            
            <label>Enter Parking Date: </label><br>
            <input type="date"  required ><br>
            <div class="smallspace">  </div> 

            <label>Enter Parking Time: </label><br>
            <input type="time"  required ><br>
            <div class="smallspace">  </div> 

            <label>Enter Exit Date: </label><br>
            <input type="date"  required ><br>
            <div class="smallspace">  </div> 

            <label>Enter Exit Time: </label><br>
            <input type="time"  required ><br>
            <div class="smallspace">  </div> 


            
            <div class="mediumspace">  </div> 
            <!-- <button type="submit" class="button" id="login" value="submit"> BOOK NOW </button> -->
            <div class="banner-btn">
                <a href="#"><span></span> BOOK NOW </a>
            </div>
        </form>

    </div>
</body>
</html>