<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="leftside">
        <div class="lcontent">
        </div>
    </div>

    <div class="rightside">
        <div class="rcontent">
            <form>
                <img src="../images/login/logo.png" width="90" height="90">
                <h2>Parkopedia</h2>
                <h1 class="largespace">LOGIN</h1>
                <div class="largespace">  </div> 
                <div class="content">
                    <label class="smallspace">Enter username: </label>
                    <input class="smallspace" type="text" required placeholder="Your username" id="uname" name="uname" ><br>
                    <div class="mediumspace">  </div> 
                    <label class="smallspace">Enter password: </label>
                    <input class="smallspace" type="password" required placeholder="Your password" id="pass" name="pass"><br>
                    <div class="mediumspace">  </div> 
                    <!-- <a href="#">Forgot password??</a> -->
                    <p>Don't have an account??
                        <a href="../templates/signup.html">Sign Up!!</a>
                    </p>
                    <div class="largespace">  </div> 
                    <!-- <button type="submit" class="button" id="login" value="submit" > LOGIN </button> -->
                    <div class="banner-btn">
                        <a href="../templates/mainpage.html"><span></span> LOGIN </a>
                        <!-- <a href="../templates/bookslot.html"><span></span>Show Slot</a> -->
                    </div>
                    <!-- <p class="login">
                        <a href="../templates/mainpage.html">LOGIN</a>
                    </p>     -->
                </div>    
            </form>
        </div>
    </div>
</body>
</html>