body{
    margin: 0;
    padding: 0;
    /* width: 100%;
    height: 100%; */
    /* background-image: url(../images/signup/canva2.png); */
    background-color: linear-gradient(rgba(8, 8, 8, 0.5),#494242);
    background-color: black;
    color: white;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    z-index: 0;
    opacity: 0.9;
    text-align: center;
    font-size: large;
}
table{
    align-items: center;
    justify-content: center;
    width: 100%;
}
th{
    border: 1px solid white;
    padding: 15px;
    font-size: 30px;
}
